.button {
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d9d3d3;
}
.input {
  border: 1px solid #cdc6c6;
  padding: 10px;
  border-radius: 15px;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.title {
  padding: 10px;
  border: 1px solid #c5c0c0;
  border-radius: 15px;
}
.clicked {
  background: red;
}